* {margin: 0; padding: 0;}

red {color: red;}

body, html { 
  font-size: 10px;
  font-family:'Kalnia', serif;
 }
li {list-style: none;}
a {text-decoration: none; color: black;}

.wrap section {
  width: 100%; height: 100vh;
  box-sizing: border-box ; 
  overflow: hidden;
  position: relative;
}

.wrap section ul {
  width: 1400px; height: auto;
  margin: 0 auto;
}


/*-----section -----*/

.wrap section .main_menu_box {
  width: 100%; height: 50px;
  top: 0; right: 0;
  z-index: 9999;
  background-color: #fff;
  position: fixed;
  top: 0;
  display: none;
}

.wrap section .main_menu_box .portfolio {
  width: 15%; height: 50px;
  float: left;
}

.wrap section .main_menu_box ul h2 {
  font-size: 4rem;
  text-align: center;
  line-height: 50px;
}

.wrap section .main_menu_box ul h2 a {
  transition: all 0.3s 0.1s;
}

.wrap section .main_menu_box ul h2:hover {
  line-height: 70px;
}

.wrap section .main_menu {
  width: 85%; height: 0px;
  display: flex;
  z-index: 9999;
}

.wrap section .main_menu li {
  width: 20%; height: 50px;
  text-align: center; line-height: 50px;
  position: relative;
}


.wrap section .main_menu li:hover {
  border-radius: 30px;
}

.wrap section .main_menu li a {
  display: block;
  width: 100%; height: 50px;
  position: absolute;
  transition: all 0.3s 0.1s;
  font-size: 1.5rem;
  top: 0;
}

.wrap section .main_menu li a:hover {
  top: 10px;
  background-color: #fff;
  border-radius: 20px;
  font-weight: bold;
}

.bg_color {
  font-weight: bold;
}

.wrap .intro_page {position: relative;}

.wrap .intro_page .intro_text {
  width: 100%; height: 100vh;
  position: relative;
  border: 1px solid black;
}

.wrap .intro_page .intro_text .main_text {
  width: 690px;
  position: absolute;
  top: 23vh; left: 50%; margin-left: -345px;
  text-align: center;
  font-size: 200px;
  font-weight: bold;
  letter-spacing: -4px;
  text-shadow: 0 8px 9px #999, 0px 2px 1px #999;
}

.wrap .intro_page .intro_text .sub_text {
  width: 320px;
  position: absolute;
  left: 0;
  font-size: 60px;
  font-family: 'Niconne';
  color: #999;
  top: 0;
  text-align: center;
}

.wrap .intro_page .intro_text .sub_text_date {
  width: 800px;
  position: absolute;
  bottom: 0;
  right: 0; margin-right: -160px;
  font-size: 60px;
  font-family: 'Niconne';
  color: #999;
  text-align: center;
}

.wrap section .bling_img_00 {
  position: absolute;
  top: 30vh; left: 200px;
  width: 15px; height: 15px;
  animation: bling_00_ani 1s infinite;
}

@keyframes bling_00_ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.wrap section .bling_img_00 img {
  width: 100%; height: 100%;
}

.wrap section .bling_img_01 {
  position: absolute;
  top: 30vh; right: 300px;
  width: 45px; height: 45px;
  animation: bling_01_ani 1s 0.5s infinite;
}

@keyframes bling_01_ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.wrap section .bling_img_01 img {
  width: 100%; height: 100%;
}

.wrap section .bling_img_02 {
  position: absolute;
  top: 50vh; left: 500px;
  width: 30px; height: 30px;
  animation: bling_02_ani 0.9s 0.5s infinite; 
}

@keyframes bling_02_ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.wrap section .bling_img_02 img {
  width: 100%; height: 100%;
}
.wrap section .bling_img_03 {
  position: absolute;
  top: 10vh; left: 700px;
  width: 35px; height: 35px;
  animation: bling_03_ani 1s infinite;
}

@keyframes bling_03_ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.wrap section .bling_img_03 img {
  width: 100%; height: 100%;
}
.wrap section .bling_img_04 {
  position: absolute;
  top: 90vh; right: 700px;
  width: 15px; height: 15px;
  animation: bling_04_ani 0.8s infinite;
}

@keyframes bling_04_ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.wrap section .bling_img_04 img {
  width: 100%; height: 100%;
}

.wrap section .bling_img_05 {
  position: absolute;
  top: 10vh; left: 300px;
  width: 10px; height: 10px;
  animation: bling_05_ani 1.5s infinite;
}

@keyframes bling_05_ani {
  0% {opacity: 1;}
  30% {opacity: 0;}
  60% {opacity: 1;}
  100% {opacity: 0; top: 100vh;}
}

.wrap section .bling_img_05 img {
  width: 100%; height: 100%;
}

.wrap section .bling_img_06 {
  position: absolute;
  top: 0vh; left: 50%;
  width: 10px; height: 10px;
  animation: bling_06_ani 2s 0.5s infinite;
  opacity: 0;
}

@keyframes bling_06_ani {
  0% {opacity: 1;}
  30% {opacity: 0;}
  60% {opacity: 1;}
  100% {opacity: 0; top: 100vh;}
}

.wrap section .bling_img_06 img {
  width: 100%; height: 100%;
}

.wrap section .bling_img_07 {
  position: absolute;
  top: 20vh; left: 700px;
  width: 10px; height: 10px;
  animation: bling_07_ani 2s 0.5s infinite;
  opacity: 0;
}

@keyframes bling_07_ani {
  0% {opacity: 1;}
  30% {opacity: 0;}
  60% {opacity: 1;}
  100% {opacity: 0; top: 100vh;}
}

.wrap section .bling_img_07 img {
  width: 100%; height: 100%;
}

.wrap section .bling_img_08 {
  position: absolute;
  top: 20vh; right: 100px;
  width: 10px; height: 10px;
  animation: bling_08_ani 1s infinite;
}

@keyframes bling_08_ani {
  0% {opacity: 1;}
  30% {opacity: 0;}
  60% {opacity: 1;}
  100% {opacity: 0; top: 100vh;}
}

.wrap section .bling_img_08 img {
  width: 100%; height: 100%;
}
.wrap section .bling_img_09 {
  position: absolute;
  top: 0vh; right: 200px;
  width: 10px; height: 10px;
  animation: bling_09_ani 1.5s 0.5s infinite;
  opacity: 0;
}

@keyframes bling_09_ani {
  0% {opacity: 1;}
  30% {opacity: 0;}
  60% {opacity: 1;}
  100% {opacity: 0; top: 100vh;}
}

.wrap section .bling_img_09 img {
  width: 100%; height: 100%;
}
.wrap section .bling_img_10 {
  position: absolute;
  top: 0vh; left: 50px;
  width: 10px; height: 10px;
  animation: bling_10_ani 1.5s 0.5s infinite;
  opacity: 0;
}

@keyframes bling_10_ani {
  0% {opacity: 1;}
  30% {opacity: 0;}
  60% {opacity: 1;}
  100% {opacity: 0; top: 100vh;}
}

.wrap section .bling_img_10 img {
  width: 100%; height: 100%;
}
.wrap section .bling_img_11 {
  position: absolute;
  top: 0vh; right: 400px;
  width: 10px; height: 10px;
  animation: bling_11_ani 1s 0.5s infinite;
}

@keyframes bling_11_ani {
  0% {opacity: 1;}
  30% {opacity: 0;}
  60% {opacity: 1;}
  100% {opacity: 0; top: 100vh;}
}

.wrap section .bling_img_11 img {
  width: 100%; height: 100%;
}
.wrap section .bling_img_12 {
  position: absolute;
  top: 10vh; left: 70%;
  margin-left: -100px;
  width: 10px; height: 10px;
  animation: bling_12_ani 1s infinite;
}

@keyframes bling_12_ani {
  0% {opacity: 1;}
  30% {opacity: 0;}
  60% {opacity: 1;}
  100% {opacity: 0; top: 100vh;}
}

.wrap section .bling_img_12 img {
  width: 100%; height: 100%;
}



/*-----INTRO_PAGE-----*/

.wrap .profile_page {position: relative;}

.wrap .profile_page .introduce {
  width: auto; height: 15vh;
  line-height: 15vh;
  position: absolute;
  left: 50%; margin-left: -488.5px;
  animation: ani_text 1.5s 1s ease forwards;
  top: -100px;
}

@keyframes ani_text {
  0% {top: -10vh;}
  100% {top: 15vh;}
}

.wrap .profile_page .introduce hr {
  width: 300px; height: 0;
  margin-top: 7.7vh;
  float: left;
}

.wrap .profile_page .introduce_text {
  width: 377px;
  float: left;
  margin: 0 10px;
  font-size: 3rem;
}

.wrap .profile_page .profile_box {
  margin-top: 30vh;
  width: 1200px; height: auto; 
  display: flex;
}

.wrap .profile_page .profile_box li {
  width: 600px; height: auto;
  margin: 0 auto;
}

.wrap .profile_page .profile_box .profile .profile_img {
  display: block;
  width: 242px; height: 310px;
  margin: 0 auto;
}

.wrap .profile_page .profile_box .profile .profile_img img {
  width: 100%; height: 100%;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  box-shadow: 2px 4px 4px #999;
}

.wrap .profile_page ul li h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 10px;
  border-bottom: 1px solid #999;
  text-align: center;
}

.wrap .profile_page ul li .education {
  width: 135px;
}

.wrap .profile_page ul li .license {
  width: 100px;
}

.wrap .profile_page ul li p {
  width: 500px; height: 2vh;
  font-size: 2rem;
  text-align: left;
  padding: 7px 10px;
  font-weight: 300;
  font-family: 'Noto Serif KR', serif;
}

.wrap .profile_page .profile_box .info {
  height: 40vh;
  padding-left: 30px;
}

.wrap .profile_page .profile_box .profile .profile_text {
  display: block;
  width: 380px; height: 15vh;
  margin: 0 auto;
  margin-top: 30px;
}

.wrap .profile_page .profile_box .profile .profile_text p {
  width: 350px;
  text-align: center;
  font-family: 'Noto Serif KR', serif;
}


.wrap .profile_page ul li .determination {
  height: auto;
  font-weight: bolder;
  font-family: 'Noto Serif KR', serif;
  margin-bottom: 20px;
}

.wrap .profile_page .line {
  width: 1100px;
  margin: 0 auto;
  margin-top: 3vh;
}

/*-----PROFILE_PAGE-----*/

.wrap section>div>ul {height: 0px;}

.wrap .skill_page ul .web {margin-top: 100px;}

.wrap .skill_page .web_box>li {
  width: 100%; height: 40vh;
  float: left;
}

.wrap .skill_page ul .web {
  height: 28vh;
  margin-bottom: 30px;
}

.wrap .skill_page ul .design {
  height: 22vh;
  float: left;
  margin-bottom: 30px;
}

.wrap .skill_page ul .document {
  height: 25vh;
  float: left
}
.wrap .skill_page ul li .web_size {
  height: 28vh;
}
.wrap .skill_page ul li .design_size {
  height: 19vh;
}
.wrap .skill_page ul li .document_size {
  height: 17vh;
}

.wrap .skill_page ul li h2 {
  width: 80px; height: 30px;
}


.wrap .skill_page ul li ul li .name  {
  float: left;
}

.wrap .skill_page ul li ul {
  width: 46%; height: 20vh;
  float: left;
  margin: 0 0 0 40px;
}

.wrap .skill_page ul li ul li {
  width: 50%;
}

.wrap .skill_page ul li ul li span img {
  width: 40px; height: 40px;
}

.wrap .skill_page ul li ul .margin-left {
  margin-left: 50px;
}

.wrap .skill_page ul li ul .margin-bottom {
  margin-bottom: 10px;
  position: relative;
}

.wrap .skill_page ul li ul li .word {
  width: 65px; height: 5vh;
  font-size: 1.5rem;
  margin-left: 10px;
  line-height: 40px;
  font-family: 'Noto Serif KR', serif;
  font-weight: bold;
}

.wrap .skill_page ul li ul li:hover {
  cursor: pointer;
}

.wrap .skill_page ul li ul li:hover .simple {
  opacity: 1;
}

.wrap .skill_page ul li ul li .simple {
  width: 460px; height: 245px;
  position: absolute;
  left: 130px;
  background-color: #fff;
  z-index: 20;
  border-radius: 10px;
  border: 2px solid #635146;
  opacity: 0;
}

.wrap .skill_page ul li ul li .simple_css {
  width: 460px; height: 335px;
  left: 130px;
}

.wrap .skill_page ul li ul li .simple_js {
  width: 420px; height: 150px;
  left: 170px;
}

.wrap .skill_page ul li ul li .simple_design {
  width: 420px; height: 220px;
  left: 170px;
}
.wrap .skill_page ul li ul li .simple_ai {
  width: 420px; height: 150px;
  left: 170px;
}

.wrap .skill_page ul li ul li .simple p {
  font-size: 1.5rem;
  margin: 5px 0 0 5px;
  padding: 5px 0;
  font-family: 'Noto Serif KR', serif;
  
}

.wrap .skill_page .progress_box {
  width: 100%; height: 20px;
  line-height: 15px;
  float: left;
  margin-bottom: 10px;
}

.wrap .skill_page .progress_bar {
  width: 80%; height: 10px;
  background-color: #dedede;
  position: relative;
  border-radius: 10px;
  float: left;
}

.wrap .skill_page .progress_bar span {
  width: auto; height: 10px;
  background-color: #999;
  border-radius: 10px;
  position: absolute;
}

.wrap .skill_page .progress_bar .progress_lv9{
  animation: ani_lv9 2s 0.5s forwards;
}

@keyframes ani_lv9 {
0% {width: 0%;}
100% {width: 90%;}
}

.wrap .skill_page .progress_bar .progress_js {
  animation: ani_js 2s 0.5s forwards;
}

@keyframes ani_js {
  0% {width: 0%;}
  100% {width: 30%;}
}

.wrap .skill_page .progress_bar .progress_lv5 {
  animation: ani_lv5 2s 0.5s forwards;
}

@keyframes ani_lv5 {
  0% {width: 0%;}
  100% {width: 50%;}
}

.wrap .skill_page .level {
  width: 10%; height: 30px;
  font-size: 1.5rem;
  float: left;
  font-weight: bold;
  margin-left: 10px;
  font-family: 'Noto Serif KR', serif;
}

/*-----web-----*/


.wrap .skill_page .progress_bar .progress_lv8{
  animation: ani_lv8 2s 0.5s forwards;
}

@keyframes ani_lv8 {
  0% {width: 0%;}
  100% {width: 75%;}
}

/*-----SKILL_PAGE-----*/

#chk_individual_project_01 {display: none;}
#chk_individual_project {display: none;}
#chk_team_project {display: none;}
#chk_event_banner {display: none;}
#chk_card_banner {display: none;}
#chk_uiux_app {display: none;}

#chk_individual_project_01:checked ~ .wrap .index_page ul li .publishing_img .individual_project_img_01 {opacity: 1;}
#chk_individual_project_01 ~ .wrap .index_page ul li .publishing_img .individual_project_img_01 {
  opacity: 0;
  transition: all 0.5s 0.3s;
  position: absolute;
  top: 0;
}


#chk_individual_project:checked ~ .wrap .index_page ul li .publishing_img .individual_project_img {opacity: 1;}
#chk_individual_project ~ .wrap .index_page ul li .publishing_img .individual_project_img {
  opacity: 0;
  transition: all 0.5s 0.3s;
  position: absolute;
  top: 0;
}
#chk_team_project:checked ~ .wrap .index_page ul li .publishing_img .team_project_img {opacity: 1;}
#chk_team_project ~ .index_page ul li .publishing_img .team_project_img {
  opacity: 0;
  transition: all 0.5s 0.3s;
  position: absolute;
  top: 0;
}

#chk_event_banner:checked ~ .wrap .index_page ul li .design_img .event_banner_img {opacity: 1;
}
#chk_event_banner ~ .wrap .index_page ul li .design_img .event_banner_img {
  opacity: 0;
  transition: all 0.5s 0.3s;
  position: absolute;
  top: 0;
  margin-top: 20px;
}
#chk_card_banner:checked ~ .wrap .index_page ul li .design_img .card_banner_img {opacity: 1;}
#chk_card_banner ~ .wrap .index_page ul li .design_img .card_banner_img {
  opacity: 0;
  transition: all 0.5s 0.3s;
  position: absolute;
  margin-top: 20px;
}
#chk_uiux_app:checked ~ .wrap .index_page ul li .design_img .uiux_app_img {
  opacity: 1; 
}
#chk_uiux_app ~ .wrap .index_page ul li .design_img .uiux_app_img {
  opacity: 0;
  transition: all 0.5s 0.3s;
  position: absolute;
  margin-top: -20px;
}

/*-----chk-----*/

.wrap .index_page ul {
  height: 40vh;
  margin-top: 50px;
}
.wrap .index_page ul li {
  height: 30vh;
  margin-top: 2px;
}

.wrap .index_page ul li ul label h5:hover {color: #999;}

.wrap .index_page ul li .publishing_img li {
  width: 100%; height: 38vh;
}

.wrap .index_page ul li ul li {
  text-align: center;
}

.wrap .index_page ul li .design_img li {
  width: 100%;
}

.wrap .index_page ul>li>.publishing_title .title {
  font-size: 2.5rem;
  margin: 80px 0 0 0;
  padding-left: 120px;
  font-family: 'Noto Serif KR', serif;
}

.wrap .index_page ul>li>.publishing_title li h5 {
  font-size: 2rem;
  margin: 30px 0 0 0px;
  text-align: left;
  font-family: 'Noto Serif KR', serif;
  padding-left: 140px;
}

.wrap .index_page ul li ul {
  width: 50%;
  float: left;
}

.wrap .index_page ul li ul li img {
  height: 40vh;
}

.wrap .index_page ul li .design_title .title {
  font-size: 2.5rem;
  margin: 50px 0 0 0px;
  padding-left: 120px;
  font-family: 'Noto Serif KR', serif;
}

.wrap .index_page ul>li>.design_title li h5 {
  font-size: 2rem;
  margin: 30px 0 0 0px;
  text-align: left;
  font-family: 'Noto Serif KR', serif;
  padding-left: 140px;
}

.wrap .index_page ul>li>ul .title:hover {color: #999;}


.wrap .index_page ul>li>ul li h5:hover {cursor: pointer;}

.wrap .index_page ul li .publishing_img {
  position: relative;
}

.wrap .index_page ul li .design_img li img {
  border-radius: 10px;
}

.wrap .index_page ul li .design_img {
  position: relative;
  border-radius: 10px;
  margin-top: 30px;
}

.wrap .index_page ul .card_banner_img img {
  width: 30vh; height: 30vh;
}

.wrap .index_page ul .event_banner_img img {
  height: 30vh;
}

.wrap .index_page ul .uiux_app_img img {
  height: 40vh;
} 

.wrap .index_page ul .design_box {margin-top: 100px;}

/*-----INDEX-----*/


.wrap .publishing_page .donation_box {
  height: 70vh;
  margin-top: 20vh;
}

.wrap .publishing_page .donation_box .donation {
  width: 50%; height: 35vh;
  float: left;
  margin-top: 30px;
}

.wrap .publishing_page .donation_box .donation .donation_imac {
  width: 100%; height: 38vh;
  padding-left: 100px;
}

.wrap .publishing_page ul li .donation_imac img {height: 38vh;}

.wrap .publishing_page .donation_box .explain {margin-top: 50px;}

.wrap .publishing_page .donation_box .donation_btn {
  display: inline-block;
  width: 35%; height: 50px;
  text-align: center; line-height: 55px;
  border-radius: 15px; 
  margin-left: 5px;
  background-color: #fff;
  font-size: 2rem;
  box-sizing: border-box;
  margin-left:30px;
  margin-top: 10px;
  background-color: #eee;
  box-shadow: 0 3px 3px #999;
  font-weight: 400;
  margin-top: 20px;
}
.wrap .publishing_page .donation_box .donation_btn:hover {
  box-shadow: inset 0 3px 3px #999;
  font-weight: 400;
}

/*-----donation_box-----*/

.wrap .publishing_page ul {
  width: 1400px; height: 39.5vh;
  position: relative;
}

.wrap .publishing_page .shop_box {
  height: 45vh;
  margin-top: 5vh;
  overflow: hidden;
}

.wrap .publishing_page .shop_box .shop .shop_imac {
  width: 100%; height: 37vh;
}

.wrap .publishing_page ul h1 {
  font-size: 2rem;
  font-family: 'Noto Serif KR', serif;
  margin-bottom: 30px;
}

.wrap .publishing_page ul li .shop_imac {
  width: 100%; height: 37vh;
  margin-left: 100px;
}

.wrap .publishing_page ul li .shop_imac img {height: 38vh;}

.wrap .publishing_page ul .shop {
  width: 50%; height: 34vh;
  float: left;
  padding-bottom: 30px;
  overflow: hidden;
}

.wrap .publishing_page ul li .shop_iphone {
  width: 100px; height: auto;
  left: 50%; margin-left: -250px;
  bottom: 10px;
  position: absolute;
}

.wrap .publishing_page ul li .shop_iphone img {
  width: 100%; height: auto;
}

.wrap .publishing_page ul .explain {
  width: 45%; height: auto;
  box-sizing: border-box;
  margin: 0px 0 0 30px;
  float: left;
  z-index: 9999;
}

.wrap .publishing_page ul .explain p:first-child {
  margin-bottom: 10px;
}

.wrap .publishing_page ul .explain p {
  font-size: 2rem;
  padding: 5px 5px 5px 0px;
  font-family: 'Noto Serif KR', serif;
}

.wrap .publishing_page ul .plan_box {
  display: inline-block;
  width: 100px; height: 50px;
  text-align: center; line-height: 55px;
  border-radius: 15px; 
  margin-left: 5px;
  background-color: #fff;
  font-size: 2rem;
  box-sizing: border-box;
  margin-left:30px;
  margin-top: 10px;
  background-color: #eee;
  transition: all 0.3s 0.1s;
  box-shadow: 0 3px 3px #999;
  margin-top: 20px;
}
.wrap .publishing_page ul .plan_box:hover {
box-shadow: inset 0 3px 3px #999;
transition: all 0.2s;
}


.wrap .publishing_page ul .mobile_ver {
  display: inline-block;
  width: 200px; height: 50px; 
  text-align: center; line-height: 55px;
  border-radius: 15px; 
  margin-left: 5px;
  background-color: #fff;
  font-size: 2rem;
  box-sizing: border-box;
  margin-top: 10px;
  background-color: #eee;
  transition: all 0.3s 0.1s;
  box-shadow: 0 3px 3px #999;
  border: 0;
  font-family: 'Noto Serif KR', serif;
}

.wrap .publishing_page ul .mobile_ver:hover {
  box-shadow: inset 0 3px 3px #999;
  transition: all 0.2s;
  cursor: pointer;
}

.wrap .publishing_page ul .pc_ver {
  display: inline-block;
  width: 150px; height: 50px;
  text-align: center; line-height: 55px;
  border-radius: 15px; 
  margin-left: 5px;
  background-color: #fff;
  font-size: 2rem;
  box-sizing: border-box;
  margin-top: 10px;
  background-color: #eee;
  transition: all 0.3s 0.1s;
  box-shadow: 0 3px 3px #999;
  font-family: 'Noto Serif KR', serif;
}

.wrap .publishing_page ul .pc_ver:hover {
  box-shadow: inset 0 3px 3px #999;
  transition: all 0.2s;
  cursor: pointer;
}

/*-----shop-----*/


.wrap .publishing_page .melon_box .melon {
  width: 50%; height: 35vh;
  float: left;
}

.wrap .publishing_page .melon_box .melon .melon_imac {
  width: 100%; height: 38vh;
  padding-left: 100px;
}

.wrap .publishing_page ul li .melon_imac img {height: 38vh;}

.wrap .publishing_page .melon_box .melon .melon_ipad {
  width: 170px; height: auto;
  left: 50%; margin-left: -300px;
  bottom: 0px;
  position: absolute;
}

.wrap .publishing_page .melon_box .melon .melon_ipad img {
  width: 100%; height: auto;
}

.wrap .publishing_page .melon_box .melon .melon_iphone {
  width: 100px; height: auto;
  left: 50%; margin-left: -180px;
  bottom: 10px;
  position: absolute;
}

.wrap .publishing_page ul li .melon_iphone img {
  width: 100%; height: auto;
}


/*-----PUBLISHING-----*/


.wrap .design_page div h1 {
  font-size: 2rem;
  margin-top: 100px;
  margin-bottom: 50px;
  font-family: 'Noto Serif KR', serif;
}

.event_banner_box {
  width: 1400px; height: auto;
}

.event_banner_box .event_banner {
  height: 240px;
}

.event_banner_box .event_banner .event {
  width: 700px;
  height: 229px;
}

.event_banner_box .event_banner .event img {
  width: 100%;
  border-radius: 10px;
}
.card_banner_box .card_banner .event .group4 img {
  width: 1022px; height: 500px;
}

/*-----card_banner_swiper-----*/

.card_banner_box {
  width: 1400px;
  margin-top: 30px;
}

.card_banner_box .card_banner {
  height: 300px;
}

.card_banner_box .card_banner .card {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.card_banner_box .card_banner .card img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.card_banner_box .card_banner .card .group4 img {
  width: 300px; height: 300px;
}


/*-----card_banner_swiper-----*/

.wrap .design_uiux_app {
  width: 100%; height: 100vh;
  margin: 0 auto;
}

.wrap .design_uiux_app .uiux_app_box {
  width: 1600px; height: 80vh;
  margin: 0 auto;
  margin-top: 10vh;
}

.wrap .design_uiux_app .uiux_box {
  width: 1600px; height: 80vh;
  margin: 0 auto;
}

.wrap .design_uiux_app .uiux_text {
  font-family: 'Noto Serif KR', serif;
  font-size: 2rem;
  margin-left: 100px;
  margin-top: 50px;
}

.wrap .design_uiux_app .uiux div {
  width: 520px;
  margin: 0 auto;
  text-align: center;
  margin-right: 0px;
}

.wrap .design_uiux_app .uiux {
  height: 60vh;
  margin-top: 5vh;
  display: flex;
  align-items: center;
}


/*----uiux_app_design-----*/

.wrap .contact_page ul .contact_determination h5 {
  width: 700px; height: 15vh;
  margin-left: -170px;
  line-height: 15vh;
  margin-top: 50px;
}

.wrap .contact_page ul li {
  width: 350px; 
  margin: 0 auto;
}

.wrap .contact_page ul .profile_img {
  width: 379px;
  margin-bottom: 50px;
}
.wrap .contact_page ul .profile_img img {
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
}

.wrap .contact_page ul li h5 {
  font-size: 2rem;
  color: #000;
  text-align: center;
}


.wrap .contact_page ul .contact_box {
  width: 400px; height: 150px;
  border: 3px dotted #eee;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  margin-bottom: 50px;
}

.wrap .contact_page ul .contact_box li:hover {
  color: #000;
}

.wrap .contact_page ul .contact_box li {
  width: 700px;
  float: left;
}

.wrap .contact_page ul .contact_box li:first-child {padding-top: 40px;}


.wrap .contact_page ul .contact_box li span p {
  font-size: 2rem;
  padding-bottom: 13px;
  font-family: 'Noto Serif KR', serif;
}

.wrap .contact_page ul .contact_box li span i {
  padding-top: 10px;
  margin-right: 10px;
  font-size: 1.5rem;
  float: left;
  padding-left: 100px;
}

.wrap .contact_page {
  position: relative;
}

.wrap .contact_page ul .copy {
  width: 300px;
  position: absolute;
  bottom: 0;
  left: 50%; margin-left: -150px;
}

.wrap .contact_page ul .copy p {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  font-family: 'Noto Serif KR', serif;
}

/*-----CONTACT_PAGE-----*/


.btn_quick_menu:hover .menu_box {opacity: 1;}

.menu_box {opacity: 0; transition: all 0.3s 0.1s;}

.btn_quick_menu li:hover .menu_box {
  left: -200px;
}
